{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "max-len": "off",
    "comma-dangle": "off",
    "object-curly-spacing": "off",
    "indent": "off",
    "quotes": "off",
    "no-trailing-spaces": "off",
    "eol-last": "off"
  }
}